#.gitignore

# Ignora todos os arquivos com extensão .dll, independentemente do nome do arquivo 
*.dll

# Ignora todos os arquivos com extensão .exe, independentemente do nome do arquivo
*.exe

# Ignora todos os arquivos com extensão .pdb, independentemente do nome do arquivo
*.pdb

# Ignora todos os arquivos e diretórios dentro da pasta com o nome bin
Bin/

# Ignora todos os arquivos e diretórios dentro da pasta com o nome obj
Obj/

#DevSquad
