#.gitignore

# Ignorando a pasta obj e todas as subpastas
SenaiTechVagas.WebApi/SenaiTechVagas.WebApi/bin/

# Ignorando a pasta obj e todas as subpastas
SenaiTechVagas.WebApi/SenaiTechVagas.WebApi/obj/

#DevSquad