#.gitignore

#Ignorando arquivos cache
*.cache

#Ignorando binários
*.dll

##Ignorando a pasta obj em qualque área do repositório
**/obj

##Ignorando a pasta obj em qualque área do repositório
**/bin

#DevSquad