* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  

  #bar > div{
    height: inherit;
  }
  
  .block{
    border: unset;
    background: unset;
    padding: unset;
    margin: unset;
  }
  
  .kit{
    height: -webkit-fill-available;
  }
  
  
  .access-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: aumentando1 1s;
    padding: 1.5vw;
    color: white;
    border: none;
    background: none;
  }
  
  .access-icons1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: transparent;
    animation: saindo1 1s linear;
    visibility: hidden;
  }
  
  
  .fa{
    line-height: unset !important;
    font-size: 30px !important;
  }
  
  .font1{
    font-size: 6vw !important;
  }
  
  
  .none, .access-button, .pop-up{
    transition: all .3s ease 0s;
    display: none;
  }
  
  .botaoflutuante{
      position: fixed;
      width: 6.5vw;
      height: 6.5vw;
      float: left;
      left: 1.2vw;
      bottom: 1.2vw;
      background-image: linear-gradient(305deg, #005767, red);
      border-radius: 50%;
      text-align: center;
      line-height: 6.5vw;
      text-decoration: none;
      font-size: 6vw !important;
      color: white;
      z-index: 1000;
      display: flex;
    justify-content: center;
    align-items: center;
  }
  #btnbar > div{
    font-size: 6vw !important;
  }
  
  .botaoflutuante1{
      position: fixed;
      width: 6.5vw;
      max-width: 56.5vw;
      height: 6.5vw;
      float: left;
      left: 1.2vw;
      bottom: 1.2vw;
      background-image: linear-gradient(305deg, #005767, red);
      border-radius: 50vw;
      text-align: center;
      line-height: 6.5vw;
      box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
      text-decoration: none;
      z-index: 999;
      font-size: 6vw !important;
      color: #eaeaea;
      transition: all .3s ease 0s;
      animation: aumentando 1s;
      padding-left: 6vw;
      display: grid;
  }
  
  .none1{
      position: fixed;
      width: 0px;
      height: 6.5vw;
      float: left;
      left: 1.3vw;
      bottom: 1.2vw;
      background-image: linear-gradient(305deg, #005767, red);
      border-radius: 50vw;
      text-align: center;
      line-height: 6.5vw;
      box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
      text-decoration: none;
      z-index: 999;
      font-size: 6vw !important;
      color: #eaeaea;
      transition: all .3s ease 0s;
      padding-left: 6vw;
      display: grid;
      animation: saindo 1s;
  }
  
  
  
          .preto h1,
          .preto h2,
          .preto h3,
          .preto h4,
          .preto h5,
          .preto h6,
          .preto,
          .preto p,
          .preto bdi,
          .preto div>div>div>div,
          .preto address,
          .preto section,
          .preto footer,
          .preto footer>div,
          .preto div>div>div>a>div,
          .preto #nav > li:nth-child(n) > a,
          .preto .vw-tooltip__item{
              background-color: black !important;
              color: white !important;
              transition: all .3s ease 0s;
          }
  
          .preto a,
          .preto>div>div>div>a>div>span,
          .preto #js-lang-list-button>span,
          .preto nav > a,
          .preto ul > li > a,
          .preto #navegacao > div > div > ul > a,
          .preto #nav > li:nth-child(n) > a,
          .preto #MainContent_Carrossel_rptDescricao_lnk_3 > div > *,
          .preto #MainContent_DestaquesHome_rptDescricao_lnk_0 > div > *{
              color: yellow !important;
              text-decoration-line: underline !important;
              transition: all .3s ease 0s;
          }
  
  
          .preto .botaoflutuante, .preto .botaoflutuante1, .preto .header, .preto div>div>div>div, .preto .none1, .preto .menumodal{
            background: #373737 !important;
          }
  
          #acess > div.enabled > div > div > div.vpw-controls.vpw-subtitles.vpw-playing > div.vpw-controls-slider > div > div > div{
            background: white !important;
          }
  
          #acess > div.enabled > div > div > div:nth-child(8), #acess > div.enabled > div > div > div:nth-child(8) > div.vp-bounderies{
            background: unset !important;
          }
  
          .maior h1 {
              font-size: 50px;
          }
  
          .maior h2,
          .maior h3,
          .maior h4,
          .maior h5,
          .maior h6,
          .maior pre,
          .maior>div.central-textlogo>h1>strong {
              font-size: 26px;
          }
  
          .maior p,
          .maior a,
          .maior span,
          .maior div,
          .maior bdi,
          .maior strong,
          .maior small {
              font-size: 20px;
          }
  /* Barra de acesso */
  
  
  .flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .kit{
    height: -webkit-fill-available;
  }
  
  
  .access-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: aumentando1 1s;
    padding: 1.5vw;
    color: white;
    border: none;
    background: none;
  }
  
  .access-icons1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: transparent;
    animation: saindo1 1s linear;
    visibility: hidden;
  }
  
  
  .fa{
    line-height: unset !important;
    font-size: 2vw !important;
  }
  
  .font1{
    font-size: 6vw !important;
  }
  
  
  .none, .access-button, .pop-up{
    transition: all .3s ease 0s;
    display: none;
  }
  
  .botaoflutuante{
      position: fixed;
      width: 6.5vw;
      height: 6.5vw;
      float: left;
      left: 1.2vw;
      bottom: 1.2vw;
      background-image: linear-gradient(305deg, #005767, red);
      border-radius: 50%;
      text-align: center;
      line-height: 6.5vw;
      text-decoration: none;
      font-size: 6vw !important;
      color: white;
      z-index: 1000;
      display: flex;
  }
  
  .botaoflutuante1{
      position: fixed;
      width: 65vw;
      max-width: 56.5vw;
      height: 6.5vw;
      float: left;
      left: 1.2vw;
      bottom: 1.2vw;
      background-image: linear-gradient(305deg, #005767, red);
      border-radius: 50vw;
      text-align: center;
      line-height: 6.5vw;
      box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
      text-decoration: none;
      z-index: 999;
      font-size: 6vw !important;
      color: #eaeaea;
      transition: all .3s ease 0s;
      animation: aumentando 1s;
      padding-left: 6vw;
      display: grid;
  }
  
  .none1{
      position: fixed;
      width: 0px;
      height: 6.5vw;
      float: left;
      left: 1.3vw;
      bottom: 1.2vw;
      background-image: linear-gradient(305deg, #005767, red);
      border-radius: 50vw;
      text-align: center;
      line-height: 6.5vw;
      box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
      text-decoration: none;
      z-index: 999;
      font-size: 6vw !important;
      color: #eaeaea;
      transition: all .3s ease 0s;
      padding-left: 6vw;
      display: grid;
      animation: saindo 1s;
  }
  
          .preto h1,
          .preto h2,
          .preto h3,
          .preto h4,
          .preto h5,
          .preto h6,
          .preto,
          .preto p,
          .preto bdi,
          .preto div>div>div>div,
          .preto address,
          .preto section,
          .preto footer,
          .preto footer>div,
          .preto div>div>div>a>div,
          .preto #nav > li:nth-child(n) > a,
          .preto .vw-tooltip__item{
              background-color: black !important;
              color: white !important;
              transition: all .3s ease 0s;
          }
  
          .preto a,
          .preto>div>div>div>a>div>span,
          .preto #js-lang-list-button>span,
          .preto nav > a,
          .preto ul > li > a,
          .preto #navegacao > div > div > ul > a,
          .preto #nav > li:nth-child(n) > a,
          .preto #MainContent_Carrossel_rptDescricao_lnk_3 > div > *,
          .preto #MainContent_DestaquesHome_rptDescricao_lnk_0 > div > *{
              color: yellow !important;
              text-decoration-line: underline !important;
              transition: all .3s ease 0s;
          }
  
  
          .preto .botaoflutuante, .preto .botaoflutuante1, .preto .header, .preto div>div>div>div, .preto .none1, .preto .menumodal{
            background: #373737 !important;
          }
  
          #acess > div.enabled > div > div > div.vpw-controls.vpw-subtitles.vpw-playing > div.vpw-controls-slider > div > div > div{
            background: white !important;
          }
  
          #acess > div.enabled > div > div > div:nth-child(8), #acess > div.enabled > div > div > div:nth-child(8) > div.vp-bounderies{
            background: unset !important;
          }
  
          .maior h1 {
              font-size: 50px;
          }
  
          .maior h2,
          .maior h3,
          .maior h4,
          .maior h5,
          .maior h6,
          .maior pre,
          .maior>div.central-textlogo>h1>strong {
              font-size: 26px;
          }
  
          .maior p,
          .maior a,
          .maior span,
          .maior div,
          .maior bdi,
          .maior strong,
          .maior small {
              font-size: 20px;
          }
  
    @media (max-width: 767px){
        .fa{
      font-size: 4.5vw !important;
    }
    .botaoflutuante, .botaoflutuante1, .none1{
      height: 12.5vw;
    }
    .botaoflutuante{
      width: 12.5vw;
      font-size: 12vw !important;
    }
    .botaoflutuante1{
      max-width: 70vw;
    }
    .none1{
      left: 4.5vw;
    }
    #btnbar > div{
      font-size: 11vw !important;
    }
  }
  
    @media (max-width: 479px){
        .fa{
      font-size: 6.5vw !important;
    }
    .botaoflutuante, .botaoflutuante1, .none1{
      height: 18vw;
    }
    .botaoflutuante{
      width: 18vw;
      font-size: 17.5vw !important;
    }
    .none1{
      left: 6.5vw;
    }
    #bar > div{
      justify-content: space-evenly;
    }
    .access-icons{
      padding: 2vw;
    }
    #botao{
      margin-left: 10vw;
    }
    #btnbar > div{
      font-size: 16vw !important;
    }
  }

  @keyframes aumentando{
    0%{
      width: 0;
    }
    100%{
      width: 65vw;
      max-width: 300px;
    }
  }
  
  @keyframes saindo{
    0%{
      width: 65vw;
      max-width: 300px;
    }
    100%{
      width: 0;
    }
  }
  
  @keyframes aumentando1{
    0%{
      color: transparent;
    }
    30%{
      color: transparent;
    }
    100%{
      color: white;
    }
  }
  
  @keyframes saindo1{
    0%{
      display: flex;
      color: white;
      visibility: initial;
    }
    30%{
      color: transparent;
    }
    100%{
      visibility: hidden;
    }
  }
  
  @keyframes pintando{
    0%{
      background-image: linear-gradient(305deg, #005767, red);
    }
    100%{
      background: red;
    }
  }

  [vw] [vw-access-button] .access-button{
    display: none;
  }