*{
    font-family: 'Ubuntu', sans-serif;
}

.Questionario{
padding: 2vh 10vw;
}

.InputRadius{
    background: transparent !important;
}

.aligncenter{
    text-align: center;
    padding: 2vw;
}

#root > div > div.centro > button{
    width: auto;
    height: auto;
    padding: 12px 25px;
    background: #353535;
    border-radius: 4px;
    color: white;
    border: #353535 solid 1px !important;
    transition: .5s;
    font-weight: 700;

}

.centro {
    text-align: center;
    padding: 30px 0;
}

#root > div > div.centro > button:hover{
    padding: 12px 25px;
    background: white;
    border-radius: 4px;
    color: #353535;
    border: white solid 1px;
    transition: .5s;
    cursor: pointer;
    font-weight: 700;
}

#root > div > h1{
    margin: 2vw 0vw 0vw 10vw;
}
.none {
    display: none;
    }
    
    .pelicula,.modal {
        background-color: rgb(00, 00, 00,0.63);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
    }
    
    .janela {
        background-color: whitesmoke;
        position: fixed;
        top: 2%;
        left: 10%;
        width: 80%;
        max-height: 90%;
        min-height: 75%;
        padding: 20px;
    }
    
    .conteudoModal {
        display: flex;
        flex-direction: row;
    }
    
    .headModal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
    }
    
    .animais {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .animal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        animation-delay: 20s;
    }
    
    .alinhar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 190px;
    } 
    
    .palavraChave {
        font-size: 20px;
    }

    
    .logoTipo {
        width: 200px;
        
    }
    
    .aguia, #fechar {
        width: 100px;
        box-shadow: -3px -3px 5px #ffffff,
        3px 3px 5px #a8a8a8;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 7px 0 0;
        padding: 5px;}
    
    .aguia:active, #fechar:active{
        box-shadow: inset -3px -3px 5px #ffffff, inset 3px 3px 5px #a8a8a8;
        text-align: -webkit-center;
    }
    
    .aguia:active > .aguia, #fechar:active > #fechar{
        min-width: 95px;
        height: 95px;
        box-shadow: inset -3px -3px 5px #ffffff, inset 3px 3px 5px #a8a8a8;
    
    }
    
    #fechar {
        position: absolute;
        top: 0%;
        right:2%;
        width: 40px;
        height: 40px;
        font-size: large;
        font-weight: bolder;
        border: unset;
    }
    
    .conteudo {
        padding: 15px;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .conteudo h2 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #root > div{
        background-image: url("../../assets/bg-teste.png");
        background-size: 10vw;
        background-repeat: repeat-y;
        background-position: right 0px top 100px;    
    }

    @media (max-width: 1000px){
        #modalTeste > div.janela > div.conteudoModal{
            display: unset;
        }
        .alinhar, .animal{
            display: unset;
        }

        .animais{
            justify-content: space-between;
            flex-direction: row;
            width: -webkit-fill-available;
        }
        #modalTeste > div.janela > div.conteudoModal > div.conteudo{
            width: -webkit-fill-available;
        }
    }

    @media (min-width: 701px){
        .animais{
            display: flex;
        }
    }

    @media (max-width: 700px){
        #modalTeste > div.janela{
            overflow-y: auto;
            overflow-x: hidden;
        }
        .animais{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .conteudo{
            width: -webkit-fill-available;
        }
        .palavraChave{
            font-size: 16px;
        }
    }