# Ignora todos os arquivos e diretórios dentro da pasta com o nome bin
bin/

# Ignora todos os arquivos e diretórios dentro da pasta com o nome obj
obj/

# Ignora todos os arquivos e diretórios escondidos, exceto o arquivo .gitignore
.*

!/.gitignore

#DevSquad