.content-searchJobs {
  width: 100%;
  background-color: #aba5a561;
}

.imgBackground-searchJobs {
  width: 100%;
}
.vaga {
  width: 98%;
  display: grid;
  grid-area: 1 / 2 / 6 / 3;
  margin-top: 1vh;
  border-radius: 1em;
}
.VagaCompleta {
  width: 100%;
}

.VagaCompleta :hover {
  cursor: pointer;
}

#filter-searchJobs {
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  width: 80%;
  margin: 1vh 0 0 1vw;
}

.main-content-search-jobs{
  display: grid;
  grid-template-columns: 15% 85% ;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.btn-filter {
  border-radius: 4px;
  border: solid #767676 0.01px;
  margin-top: 1vh;
}

button .btn-filter :hover{
  cursor: auto;
  background-color: #000;
}

#btn-all {
  border-radius: 4px;
  border: solid #767676 0.01px;
}

#filter-searchJobs p {
  margin-top: 15px;
}



/* .BarraPesquisa{
  display:flex;
  height: 250px;  
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background-image: url("../../assets/bannerBuscarVagas.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.PeliculaPesquisa{
  display:flex;
  align-items: center;
  justify-content:center;
  width: 700px;
  height: 50px;
  background-color: #5E2A2A;
  opacity: 0.8;
  box-sizing: border-box;
  border: solid #5E2A2A;
}

.InputPesquisa{
  display: flex;
  width: 500px;
  height: 25px;
}

#BotaoPesquisa{
  margin-left: 10px;
  width: 100px;
  height: 29px;
  background-color: #713C3C;
  color: white;
  border-radius: 5px;
}  */